<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="vm.clear()">&times;</button>
            <h4  ng-show="vm.editar !== null" class="modal-title" id="myUserLabel" data-translate="getionLDE.home.createLabelEdit">
                Edit free debt</h4>
            <h4  ng-show="vm.editar == null" class="modal-title" id="myUserLabel" data-translate="getionLDE.home.createLabel">
                Create free debt</h4>
        </div>
        <div class="modal-body">
            <hr></hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="alert alert-info" ng-hide="vm.errorDigit">
                <p>Digito verificador incorrecto</p>
            </div>
            <div class="form-group">
                <label class="control-label"><strong>Contenedor</strong></label>
                <input type="text" class="form-control digit-container-validate" name="contenedor"
                        ng-readonly="vm.editar !== null"
                        ng-model="vm.lde.contenedor"  required 
                        placeholder="Ingrese nro. de Contenedor" ng-pattern="vm.regex"  ng-change="vm.nuevaVal()">
                
                <div ng-show="editForm.contenedor.$invalid">
                    <p class="help-block"
                       ng-show="editForm.contenedor.$error.required" data-translate="entity.validation.required">
                        This field is required.
                    </p>  
                    <p class="help-block"
                       ng-show="editForm.contenedor.$error.pattern" >
                        Formato de contenedor invalido
                    </p>   
                </div>
            </div>
            <br></br>

            <div class="row p-b-20">  
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label"> <strong>BL</strong></label>
                            <input type="text" class="form-control"
                                ng-readonly="vm.editar !== null"
                                ng-model="vm.bl" id="billoflading" name="billoflading"
                                placeholder="Ingrese el bill of lading" ng-required="vm.arrayBl.length < 1">   
                            <div ng-show="editForm.billoflading.$error.required">
                                <p class="help-block"
                                       ng-show="editForm.billoflading.$error.required" data-translate="entity.validation.required">
                                        This field is required.
                                </p>                    
                            </div>
                            <div class="alert alert-danger" ng-hide="vm.vari !== true">
                                <p>Agrege al menos un BL</p>
                            </div>           
                        
                    </div>
                </div>
                <div class="col-sm-4 m-t-15">
                    <div class="form-group" ng-show="vm.editar == null">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.agregarBL()">
                            <span>Agregar BL</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row p-b-20">  
                <div class="col-sm-12" ng-show="vm.arrayBl.length > 0">    
                    <div class="fg-line">
                        <ui-select multiple ng-model="vm.arrayBl" theme="bootstrap" ng-disabled="vm.disabled" sortable="true" close-on-select="false"
                            style="width: 100%;" title="Eija los BL's" on-remove="">
                            <ui-select-match placeholder="Seleccione Bl's...">
                                {{$item}}
                            </ui-select-match>
                            <ui-select-choices repeat="bl in vm.arrayBl | filter:$select.search">
                                <div ng-bind-html="bl | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label"> <strong>Viaje</strong></label>
                <input type="text" class="form-control" name="viaje"
                        ng-readonly="vm.editar !== null"
                        ng-model="vm.lde.viaje" ng-minlength=1
                        placeholder="Ingrese numero de viaje" required>
    
                <div ng-show="editForm.viaje.$invalid">
                    <p class="help-block" ng-show="editForm.viaje.$error.required" 
                        data-translate="entity.validation.required">
                            This field is required.
                    </p>                    
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"> <strong>Buque</strong></label>
                <input type="text" class="form-control" name="buque"
                        ng-readonly="vm.editar !== null"
                        ng-model="vm.lde.buque" ng-minlength=1
                        placeholder="Ingrese buque" required>
    
                <div ng-show="editForm.buque.$invalid">
                    <p class="help-block" ng-show="editForm.buque.$error.required" 
                        data-translate="entity.validation.required">
                            This field is required.
                    </p>                    
                </div>
            </div>
            <div class="form-group" ng-show="vm.editar === null" ng-class="{ 'has-error': editForm.terminal.$invalid }">
                <label class="control-label"><strong>Terminal</strong></label>
                <agp-select disabled="false" model="vm.estadoFiltro.selectedOption.name" 
                            options="vm.opcionesTerminal" placeholder="Ingrese una terminal" 
                            required="vm.editar === null" on-select="vm.onSelect($item)" name="terminal">
                </agp-select> 
            </div>   
            <br></br>
            <div class="form-group">
                <label class="control-label"> <strong>Linea Naviera</strong></label>
                <input type="text" class="form-control" name="lineaNaviera"
                        ng-readonly="vm.editar !== null"
                        ng-model="vm.lde.lineaNaviera" ng-minlength=1
                        placeholder="Ingrese la linea naviera">
            </div>
            <br></br>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <label for="fecha1" class="m-r-10">
                            <h4>Fecha tope para devolución</h4>
                        </label>
                    </span>
                    <input type="text" name="fecha1" class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="vm.fechadevolucion.hasta.opened"
                        ng-model="vm.fechadevolucion.hasta.model" datepicker-options="vm.fechadevolucion.hasta.options"
                        ng-readonly="vm.editar !== null"
                        show-button-bar="false" />
                    <span class="input-group-btn">
                        <button ng-show="vm.editar === null" type="button" class="btn btn-default" ng-click="vm.fechadevolucion.hasta.open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <br></br>
            <div class="form-group">
                <label class="control-label"> <strong>Lugar de devolucion</strong></label>
                <input type="text" class="form-control" name="lugardev"
                        ng-model="vm.lde.lugar_dev"
                        placeholder="Ingrese el lugar de devolución">
            </div>
            <div class="form-group">
                <label class="control-label"> <strong>CUIT</strong></label>
                <input type="text" class="form-control" name="cuit"
                        ng-model="vm.lde.cuit" ng-minlength=1
                        ng-readonly="vm.editar !== null"
                        placeholder="Ingrese el CUIT sin guiones" required cuit-validate>
                <div ng-show="editForm.cuit.$invalid">
                    <p class="help-block" ng-show="editForm.cuit.$error.required" 
                        data-translate="entity.validation.required">
                            This field is required.
                    </p>  
                    <p class="help-block"
                       ng-show="editForm.cuit.$error.cuitFormat" >
                        cuit invalido
                    </p>                  
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                    data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary" >
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
            </button>
        </div>
</form>
                                    