<div class="table-responsive">
    <table ng-table="vm.tableSorting" class="table table-striped table-vmiddle" printable-table>
        <tr ng-repeat="w in $data" ng-if="$data.length > 0">
            <td data-title="'table.column.from' | translate" sortable="'fechaDesde'">
                {{ w.fechaDesde | date:'dd/MM/yy'}}
            </td>
            <td data-title="'table.column.to' | translate" sortable="'fechaHasta'">
                {{ w.fechaHasta | date:'dd/MM/yy'}}
            </td>
            <td data-title="'table.column.totalOffered' | translate">
                {{ w.totalView }}
            </td>
            <td data-title="'table.column.totalTaken' | translate">
                {{ w.totalTomados }}
            </td>
            <td data-title="'table.column.progress' | translate">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : '{{ w.totalOfertados | progressPercentage: w.totalTomados }}%' }" 
                        ng-class="{'progress-bar-green': {{ w.totalOfertados | progressPercentage: w.totalTomados }} <50, 'progress-bar-yellow': {{ w.totalOfertados | progressPercentage: w.totalTomados }} >=50 && {{ w.totalOfertados | progressPercentage: w.totalTomados }} <80, 'progress-bar-red': {{ w.totalOfertados | progressPercentage: w.totalTomados }}>=80}">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </td>
            <td data-title="'table.column.action' | translate">
                <button class="btn btn-default waves-effect" ui-sref="{{vm.stateGo}}({id:w.id})">
                            <i class="zmdi zmdi-eye"></i>
                </button>
            </td>
        </tr>
        <tr ng-if="$data.length == 0">
            <td colspan="6">Actualmente no hay configuraciones creadas.</td>
        </tr>
    </table>
</div>