<div class="sidebar-inner c-overflow">    
    <!-- Begin Profile Category Menu -->
    <div class="category-menu hidden-xs">
        <a href="" toggle-submenu>
            
            <div class="category-pic">
                <img src="assets/img/home/calmar-logo.png" class="girl img-responsive" alt="" />
                <!-- <img src="assets/img/profile-pics/profile-demo-pic.png" alt=""> -->
            </div>
            <div class="category-info">
                <center>CATEGORIAS </center>
            </div>
        </a>
    </div>
    <!-- /End Profile Category Menu -->
    
    <!-- Begin Main Menu -->
    <ul class="main-menu">
        <!-- <li data-ui-sref-active="active"  ></li>>
            <a ui-sref-active="active" ui-sref="solicitud-lde"><i class="zmdi zmdi-home"></i> INICIO</a>
        </li> -->

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Escobas')">
                <i class="zmdi zmdi zmdi-chevron-right"></i> 
                <span>Escobas</span>
            </a>
           
        </li>

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Escobillones')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Escobillones</span>
            </a>
           
        </li>

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Cepillos')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Cepillos</span>
            </a>
        </li>

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Bolsas')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Bolsas</span>
            </a>
           
        </li>

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Palas')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Palas</span>
            </a>
           
        </li>

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Secadores')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Secadores</span>
            </a>
        </li>  

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Baldes,Lampazos y Mopa')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Baldes,Lampazos y Mopa</span>
            </a>
        </li>  

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Trapos, Franelas y Rep.')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Trapos, Franelas y Rep.</span>
            </a>
        </li>

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Cabos y Palos')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Cabos y Palos</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Alfombras y Felpudos')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Alfombras y Felpudos</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Bazar y Hermeticos')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Bazar y Hermeticos</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Carritos de Compras')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Carritos de Compras</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Esponjas de cocina y baño')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Esponjas de cocina y baño</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Liquidos de limpieza')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Liquidos de limpieza</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Guantes')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Guantes</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Plumeros')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Plumeros</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Pulverizadores y Dosif.')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Pulverizadores y Dosif.</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Andenes y Barrenderos')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Andenes y Barrenderos</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Secadores y sopapas')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Secadores y sopapas</span>
            </a>
        </li> 

        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Jardin y Riego')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Jardin y Riego</span>
            </a>
        </li> 
                
        <li>
            <a  href="" ng-click="vm.buscarPorCategoria('Varios')">
                <i class="zmdi zmdi-chevron-right"></i> 
                <span>Varios</span>
            </a>
        </li> 
    </ul>
    <!-- /End Main Menu -->
</div>