<jhi-alert></jhi-alert>
<div class="container" style="background-color:white;">
    <div class="row p-t-20" style="background-color:#00AAEE;">
        <div class="col-12">
            <div class="block-header">
                <h2 style="color:white;">Agregar Producto</h2>
            </div>
        </div>
    </div>
    <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <jhi-alert-error></jhi-alert-error>
                <div style="margin-left:2%;">
                <form name="createProduct" role="form" novalidate ng-submit="vm.save()">
                    <div class="row p-t-20">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="fg-line">
                                    <label class="pull-left">Nombre de Producto</label>
                                    <input type="text" class="form-control input-agp" name="productSearch" ng-model="vm.nombre"
                                        placeholder="Ingrese el nombre del producto">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="fg-line">
                                        <label class="pull-left">Precio</label>
                                    <input type="number" class="form-control input-agp" name="productSearch" ng-model="vm.precio"
                                        placeholder="Ingrese el precio">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="fg-line">
                                        <label class="pull-left">Stock</label>
                                    <input type="number" class="form-control input-agp" name="productSearch" ng-model="vm.stock"
                                        placeholder="Ingrese el stock">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-t-20">
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="fg-line pull-left">
                                                <label for="exampleFormControlFile1">Seleccione una Imager</label>
                                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                        </div>
                                    </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="fg-line">
                                        <label class="pull-left">Marca</label>
                                        <agp-select disabled="false" model="vm.estadoFiltro.selectedOption.name" maxlen="3"
                                                    placeholder="Ingrese una Marca"
                                                    options="vm.estadoFiltro.availableOptions" parse="$item.name"
                                                    required="true" name="marcas">
                                        </agp-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="fg-line">
                                        <div class="fg-line">
                                            <label class="pull-left">Categoria</label>
                                            <select class="select-agp" id="exampleFormControlSelect1" ng-options="option.name for option in vm.estadoFiltro.availableOptions track by option.id"
                                                ng-model="vm.estadoFiltro.selectedOption">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row p-t-20">
                            <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <i class="zmdi zmdi-comment-alt-text pull-left"></i>
                                            <label class="pull-left">Descripcion</label>
                                            <textarea class="f-18 textarea-custom" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="fg-line">
                                        <div class="fg-line">
                                                <label class="pull-left">Precio en Oferta (Opcional)</label>
                                            <input type="number" class="form-control input-agp" name="productSearch" ng-model="vm.precio"
                                                placeholder="Atención! Precio rebaja ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <hr>
                    <div class="row p-t-20">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-success separado" >
                                                    <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
                                            </button>
                                            <button type="button" class="btn btn-danger separado" ui-sref="producto" ng-click="vm.clear()">
                                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                                                        data-translate="entity.action.cancel">Cancel</span>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="block-footer" has-any-authority="ROLE_AUDITOR, ROLE_ADMIN">

    </div>
</div>
    