<div class="block-header">
        <h2>Detalle de Inmueble</h2>
    </div>
    <div class="card card-header">
    
            <div class="row p-t-20">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>
                                <span class="f-18 text-primary"> {{vm.inmueble.tipoInmueble}} </span>
                            </center>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
    
            <div class="row p-t-20">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="fg-line">
                                <h5>
                                    <small>Direccion</small>
                                </h5>
                                <span class="f-18"> {{vm.inmueble.direccion}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="fg-line">
                                <h5>
                                    <small>N&uacute;mero</small>
                                </h5>
                                <span class="f-18"> {{vm.inmueble.numero}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="form-group">
                                <div class="fg-line">
                                    <h5>
                                        <small>Partida</small>
                                    </h5>
                                    <span class="f-18"> {{vm.inmueble.partida}} </span>
                                </div>
                            </div>
                    </div>
            </div>
    
            <div class="row p-t-20" ng-if="vm.inmueble.piso">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="fg-line">
                                <h5>
                                    <small>Piso</small>
                                </h5>
                                <span class="f-18"> {{vm.inmueble.piso}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="fg-line">
                                <h5>
                                    <small>Departamento
                                    </small>
                                </h5>
                                <span class="f-18"> {{ vm.inmueble.departamento}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="fg-line">
                                <h5>
                                    <small>Codigo postal</small>
                                </h5>
                                <span class="f-18"> {{vm.inmueble.codPostal}} </span>
                            </div>
                        </div>
                    </div>
            </div>
    
            <div class="row p-t-20">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="fg-line">
                                <h5>
                                    <small>Valor
                                    </small>
                                </h5>
                                <span class="f-18"> {{vm.inmueble.valor}} 0 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="form-group">
                                <div class="fg-line">
                                    <h5>
                                        <small>Alias</small>
                                    </h5>
                                        <span class="f-18"> {{vm.inmueble.alias}} </span>
                                </div>
                            </div>
                    </div>
                    <!--  <div class="col-sm-4">
                        <div class="form-group">
                            <div class="fg-line">
                                <h5>
                                    <small>Fecha de devolucion</small>
                                </h5>
                                <span class="f-18"> {{vm.solicitudLde.lde.fecha_dev | date : "yyyy-MM-dd" }} </span>
                            </div>
                        </div>
                    </div> -->
            </div>
    
            <!-- <div class="row p-t-20 ">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="form-group">
                        <div class="fg-line">
                            <table class="table table-striped table-vmiddle">
                                <thead>
                                    <tr>
                                        <th class="mith">BL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bl in vm.solicitudLde.lde.bls track by $index">
                                        <td>{{bl}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>         -->
    </div>
    <div class="block-footer" has-any-authority="ROLE_ADMIN">
        <center>
            <button class="btn btn-primary btn-sm" ui-sref="inmueble()">Atras</button>
        </center>
    </div>
    