/* Login */ 
body.login{
    /*
    background: url(../img/bg-login.jpg) no-repeat;
    */
    background-attachment: fixed;
    background-size: cover;
}


.login .block-header{
    /*
    background: url(../img/profile-demo-pic90x90.png) top center no-repeat;
    min-height: 89px;
    */
}

.lc-block {
	max-width: 460px;
}

/* .lc-block */
.lc-block:not(.lcb-alt ){
	padding: 35px 25px 0px 25px
}
.center{
    text-align: center;
  }