/* Login */ 
body.login{
    /*
    background: url(../img/bg-login.jpg) no-repeat;
    */
    background-attachment: fixed;
    background-size: cover;
}


.login .block-header{
    /*
    background: url(../img/profile-demo-pic90x90.png) top center no-repeat;
    min-height: 89px;
    */
}

.lc-block {
	max-width: 460px;
}

/* .lc-block */
.lc-block:not(.lcb-alt ){
	padding: 35px 25px 0px 25px
}
.center{
    text-align: center;
  }

.separado{
    margin-top: 20px;
    margin-right: 20px;
}

.color-green { 
    background-color: #F6F2EE;
    border-radius: 5px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;     

}
.color-green-hover:hover { 
    background-color: #000000; 
}

.category-menu > a {
    display: block;
    height: 129px;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 100%;
    background: url(../img/contact-menu.png) no-repeat 50% 0%;
    background-size: 100%;
  }

.category-menu > a .category-pic {
    padding: 12px;
}
  
.category-menu > a .category-pic > img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.14);
    box-sizing: content-box;
    float: right;
}
  
.category-menu > a .category-info {
    background: rgba(0, 0, 0, 0.37);
    padding: 7px 14px;
    color: #fff;
    margin-top: 98px;
    position: relative;
}